<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Loại sản phẩm</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">giảm giá</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listProduct?.data; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{product.SKU}}</td>
                <td>{{product.Name}}</td>
                <td>{{product.Brand}}</td>
                <td>{{product.Price}}</td>
                <td>{{product.PromotionPrice}}</td>
                <td>{{product.Status ? 'Còn hàng': 'Hết hàng'}}</td>
                <td>
                    <button type="button" class="btn btn-brand btn-sm btn-facebook mr-1" style="margin-bottom: 4px">
                        <i class="fa fa-edit"></i>
                        <span>Sửa</span>
                      </button>
                      <button type="button" class="btn btn-brand btn-sm btn-youtube mr-1" style="margin-bottom: 4px">
                        <i class="fa fa-trash"></i>
                        <span>Xóa</span>
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
</div>