<div class="row">
    <div class="col-md-12">
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="option1" [(ngModel)]="checkoutType">Thanh toán khi
                nhận hàng
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="option2" [(ngModel)]="checkoutType">Thanh toán qua
                thẻ
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">

            <div class="card-header">
                <strong>Thanh toán</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="checkoutForm">
                    <div class="text-danger"
                        *ngIf="checkoutForm?.controls?.customerAddress?.errors?.required && checkoutForm?.controls?.customerAddress?.touched">
                        Bạn phải nhập địa chỉ người nhận
                    </div>
                    <div class="form-group">
                        <label for="nf-email">Địa chỉ người nhận</label>
                        <textarea class="form-control" formControlName="customerAddress" id="textarea-input"
                            name="textarea-input" rows="9" placeholder="Địa chỉ"></textarea>
                    </div>
                    <div class="text-danger"
                        *ngIf="checkoutForm?.controls?.customerPhone?.errors?.required && checkoutForm?.controls?.customerPhone?.touched">
                        Bạn phải nhập tên ngân hàng
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nf-password">Số điện thoại người nhận</label>
                        <input type="tel" id="nf-password" formControlName="customerPhone" class="form-control"
                            placeholder="0968958647">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Phí vận chuyển</label>
                        <input type="number" disabled formControlName="shipmentPrice" class="form-control"
                            placeholder="0968958647">
                    </div>
                </form>

                <div class="card-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <button class="btn btn-pill btn-danger" *ngIf="checkoutType === 'option2'"
                                (click)="vnpayCheckOut()" type="button">Thanh
                                toán</button>
                            <button class="btn btn-pill btn-danger" *ngIf="checkoutType === 'option1'"
                                type="button" (click)="checkOut()">Thanh
                                toán</button>
                        </div>
                        <!--/.col-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->