<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form action="" method="post">
                <div class="card-header">
                    <strong>Thanh toán</strong>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="nf-email">Địa chỉ người nhận</label>
                        <textarea class="form-control" id="textarea-input" name="textarea-input" rows="9"
                            placeholder="Content.."></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nf-password">Số điện thoại người nhận</label>
                        <input type="tel" id="nf-password" class="form-control" placeholder="0968958647">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary">Thanh toán</button>
                        <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->