<footer>
    <div _ngcontent-c7="" class="m-0 footer-top">
        <div _ngcontent-c7="" class="container text-center p-3">
            <div _ngcontent-c7="" class="row">
                <div _ngcontent-c7="" class="col-md-12">
                    <p _ngcontent-c7="" class="sits"><a _ngcontent-c7=""><i _ngcontent-c7="" aria-hidden="true"
                                class="fa fa-globe" style="color:#ff0000;"></i>&nbsp;&nbsp;&nbsp;PttTRade Site:</a>
                        &nbsp;&nbsp;&nbsp;<a _ngcontent-c7="">English</a> | <a _ngcontent-c7="">Turkish</a> | <a
                            _ngcontent-c7="">Arabic</a> | <a _ngcontent-c7="">Chinese</a> | <a
                            _ngcontent-c7="">Spanish</a> | <a _ngcontent-c7="">French</a> | <a
                            _ngcontent-c7="">German</a> | <a _ngcontent-c7="">Hebrew</a> | <a _ngcontent-c7="">Hindi</a>
                        | <a _ngcontent-c7="">Italian</a> | <a _ngcontent-c7="">Japanese</a> | <a
                            _ngcontent-c7="">Persian</a> | <a _ngcontent-c7="">Russian</a></p>
                    <p _ngcontent-c7="" class="text-center"><a _ngcontent-c7=""><img _ngcontent-c7=""
                                src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/google-play.jpg"></a><a
                            _ngcontent-c7=""><img _ngcontent-c7=""
                                src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/app-store.jpg"></a></p>
                </div>
            </div>
        </div>
        <div _ngcontent-c7="" class="container text-center p-3">
            <p _ngcontent-c7="" class="text-center clients w-100"><a _ngcontent-c7="" class="logos-item"
                    href="https://www.epttavm.com/" target="_blank"><img _ngcontent-c7=""
                        src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/avmv2.png" width="64px"></a><a
                    _ngcontent-c7="" class="logos-item" href="https://www.filateli.gov.tr/" target="_blank"><img
                        _ngcontent-c7="" src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/filateli.png"
                        width="64px"></a><a _ngcontent-c7="" class="logos-item" href="http://pttkep.gov.tr/"
                    target="_blank"><img _ngcontent-c7=""
                        src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/kep.png" width="64px"></a><a
                    _ngcontent-c7="" class="logos-item" href="http://mektupsepeti.gov.tr/" target="_blank"><img
                        _ngcontent-c7="" src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/mektupsepeti.png"
                        width="64px"></a><a _ngcontent-c7="" class="logos-item" href="http://www.turpex.com/"
                    target="_blank"><img _ngcontent-c7=""
                        src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/turpeks.png" width="64px"></a><a
                    _ngcontent-c7="" class="logos-item" href="http://www.pttpulmuzesi.org.tr/" target="_blank"><img
                        _ngcontent-c7="" src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/pulmuzesi.png"
                        width="64px"></a><a _ngcontent-c7="" class="logos-item"
                    href="https://hgsmusteri.ptt.gov.tr/hgs.jsf" target="_blank"><img _ngcontent-c7=""
                        src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/hgs.png" width="64px"></a><a
                    _ngcontent-c7="" class="logos-item" href="http://www.pttcell.com.tr/" target="_blank"><img
                        _ngcontent-c7="" src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/cell.png"
                        width="64px"></a><a _ngcontent-c7="" class="logos-item" href="https://www.pttsigorta.com/"
                    target="_blank"><img _ngcontent-c7=""
                        src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/sigortayeri.png" width="64px"></a><a
                    _ngcontent-c7="" class="logos-item" href="http://www.pttcocuk.gov.tr/" target="_blank"><img
                        _ngcontent-c7="" src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/cocuk.png"
                        width="64px"></a><a _ngcontent-c7="" class="logos-item" href="http://www.birlesikposta.com.tr/"
                    target="_blank"><img _ngcontent-c7=""
                        src="https://d1wg8nrtxpwjht.cloudfront.net/assets/logos/birlesikposta_b2.png" width="64px"></a>
            </p>
        </div>
    </div>
</footer>