.top-content{
    .right-content{
        width: 78%;
        min-height: 350px;
        box-shadow: 0 0 10px -5px #444;
        img{
            height: 350px;
        }
    }
    .left-content{
        box-shadow: 0 0 10px -5px #444;
        width: 21%;
    }
}

.center-content {
    width: 100%;
    .ui-carousel-item{
        width: 20% !important;
    }
}