<div class="d-flex justify-content-between top-content">
    <div class="left-content">
        <carousel [interval]="false">
            <slide>
                <img src="https://lorempixel.com/900/500/technics/1" alt="First slide"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img src="https://lorempixel.com/900/500/technics/2" alt="Second slide"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
            <slide>
                <img src="https://lorempixel.com/900/500/technics/3" alt="Third slide"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="right-content">
        right
    </div>
</div>