<div class="d-flex justify-content-between top-content">
    <div class="left-content">
        <p-megaMenu orientation="vertical" [model]="items"></p-megaMenu>
    </div>
    <div class="right-content">
        <carousel [interval]="false">
            <slide>
                <img src="https://lorempixel.com/900/500/technics/1" alt="First slide"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img src="https://lorempixel.com/900/500/technics/2" alt="Second slide"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
            <slide>
                <img src="https://lorempixel.com/900/500/technics/3" alt="Third slide"
                    style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide>
        </carousel>
    </div>

</div>

<div class="d-flex justify-content-between ">
    <div class="center-content">
        <p-carousel headerText="Cars" [value]="cars">
            <ng-template let-car pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="assets/showcase/images/demo/car/{{car.brand}}.png"
                                width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Vin</div>
                        <div class="ui-grid-col-6">{{car.vin}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Year</div>
                        <div class="ui-grid-col-6">{{car.year}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Color</div>
                        <div class="ui-grid-col-6">{{car.color}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="d-flex justify-content-between ">
    <div class="center-content">
        <p-carousel headerText="Cars" [value]="cars">
            <ng-template let-car pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="assets/showcase/images/demo/car/{{car.brand}}.png"
                                width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Vin</div>
                        <div class="ui-grid-col-6">{{car.vin}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Year</div>
                        <div class="ui-grid-col-6">{{car.year}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Color</div>
                        <div class="ui-grid-col-6">{{car.color}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="d-flex justify-content-between ">
    <div class="center-content">
        <p-carousel headerText="Cars" [value]="cars">
            <ng-template let-car pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="assets/showcase/images/demo/car/{{car.brand}}.png"
                                width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Vin</div>
                        <div class="ui-grid-col-6">{{car.vin}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Year</div>
                        <div class="ui-grid-col-6">{{car.year}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Color</div>
                        <div class="ui-grid-col-6">{{car.color}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>